<!DOCTYPE html>
<html>
<head>

    <!-- title -->
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="./loginstyle.css">
    <script src="https://kit.fontawesome.com/132be6e6e6.js" crossorigin="anonymous"></script>
    
</head>
<body>
  <!-- Background Animation -->
  <section id="bg">
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        <div>
          <i class="fa-solid fa-volleyball"></i>
          <i class="fa-solid fa-table-tennis-paddle-ball"></i>
          <i class="fa-solid fa-dumbbell"></i>
          <i class="fa-solid fa-heart"></i>
          <i class="fa-solid fa-bicycle"></i>
          <i class="fa-solid fa-spa"></i>
          <i class="fa-solid fa-ranking-star"></i>
          <i class="fa-solid fa-basketball"></i>
          <i class="fa-solid fa-fire-flame-simple"></i>
          <i class="fa-solid fa-person-biking"></i>
          <i class="fa-solid fa-stopwatch-20"></i>
          <i class="fa-solid fa-person-hiking"></i>
          <i class="fa-solid fa-heart-pulse"></i>
          <i class="fa-solid fa-golf-ball-tee"></i>
          <i class="fa-solid fa-weight-hanging"></i>
          <i class="fa-solid fa-user"></i>
          <i class="fa-solid fa-music"></i>
          <i class="fa-solid fa-baseball"></i>
          <i class="fa-solid fa-person-swimming"></i>
          <i class="fa-solid fa-medal"></i>
          <i class="fa-regular fa-futbol"></i>
          <i class="fa-solid fa-thumbs-up"></i>
          <i class="fa-solid fa-football"></i>
          <i class="fa-solid fa-baseball-bat-ball"></i>
          <i class="fa-solid fa-bowling-ball"></i>
          <i class="fa-solid fa-house"></i>
          <i class="fa-solid fa-snowflake"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>
        <div class="row">
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
          <div>
            <i class="fa-solid fa-volleyball"></i>
            <i class="fa-solid fa-table-tennis-paddle-ball"></i>
            <i class="fa-solid fa-dumbbell"></i>
            <i class="fa-solid fa-heart"></i>
            <i class="fa-solid fa-bicycle"></i>
            <i class="fa-solid fa-spa"></i>
            <i class="fa-solid fa-ranking-star"></i>
            <i class="fa-solid fa-basketball"></i>
            <i class="fa-solid fa-fire-flame-simple"></i>
            <i class="fa-solid fa-person-biking"></i>
            <i class="fa-solid fa-stopwatch-20"></i>
            <i class="fa-solid fa-person-hiking"></i>
            <i class="fa-solid fa-heart-pulse"></i>
            <i class="fa-solid fa-golf-ball-tee"></i>
            <i class="fa-solid fa-weight-hanging"></i>
            <i class="fa-solid fa-user"></i>
            <i class="fa-solid fa-music"></i>
            <i class="fa-solid fa-baseball"></i>
            <i class="fa-solid fa-person-swimming"></i>
            <i class="fa-solid fa-medal"></i>
            <i class="fa-regular fa-futbol"></i>
            <i class="fa-solid fa-thumbs-up"></i>
            <i class="fa-solid fa-football"></i>
            <i class="fa-solid fa-baseball-bat-ball"></i>
            <i class="fa-solid fa-bowling-ball"></i>
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-snowflake"></i>
            <i class="fa-brands fa-youtube"></i>
          </div>
        </div>

  <!-- login container -->
  <form method="post" action="/login" class ="login" id="lineanimate" >
    <div class="container">
    </div>
    <div id="txtbox">
      <h2 id="txt">Login</h2>
    </div>
    
      <!-- Input -->
        <div class="inputBox">
          <!-- Username -->
            <input type = "text" required="email" name="email"> 
          <!-- Inputbox -->
            <span>Email</span> 
            <i id="line1"></i>
            
        </div>
        <div class="email error"></div>
        <div class="inputBox">
          <!-- Password -->
            <input type="password" required="password" name="password">
          <!-- Inputbox animation -->
            <span>Password</span>
            <i id="line2"></i>
        </div>
        <div class="password error"></div>
      <!-- Submit -->
      <div class="inputBox">
        <input type="submit" value="Login" id="btn">
      </div>
      <div class="group">
        <a href="#">Forget Password</a>
        <a href="/signup">Sign Up</a>
      </div>s
    </form>

  <!-- Change background color  -->
  <div class="colors">
    <span class="active" onclick="changeColor('linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6)'), changeLine('linear-gradient(0deg,transparent, #cc99f9, #cc99f9)')" style="--clr: linear-gradient(to right, #0cebeb, #20e3b2, #29ffc6);" ></span>
    <span onclick="changeColor('linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%)'), changeLine('linear-gradient(0deg,transparent, #a6e3e9, #a6e3e9)')"  style="--clr: linear-gradient(to right, #fad0c4 0%, #ffd1ff 100%);" ></span>
    <span onclick="changeColor('linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%)'), changeLine('linear-gradient(0deg,transparent, #bee4d2, #bee4d2)')" style="--clr: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);" ></span>
    <span onclick="changeColor('linear-gradient(to right, #355c7d, #6c5b7b, #c06c84)'), changeLine('linear-gradient(0deg,transparent, #f3a333, #f3a333)')" style="--clr: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);" ></span>
    <span onclick="changeColor('#1d1d1d'), changeLine('linear-gradient(0deg,transparent, #45f3ff, #45f3ff)')" style="--clr: #1d1d1d;" ></span>
  </div>

  <!-- Change color effect -->
  <script>

  const form = document.querySelector('form');
  const emailError = document.querySelector('.email.error');
  const passwordError = document.querySelector('.password.error');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();
    // reset errors
    emailError.textContent = '';
    passwordError.textContent = '';
    // get values
    const email = form.email.value;
    const password = form.password.value;
    
    try {
      const res = await fetch('/login', { 
        method: 'POST', 
        body: JSON.stringify({ email, password }),
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
  });

    let bg= document.getElementById('bg');
    let btn = document.getElementById('btn');
    let txtbox = document.getElementById('txtbox');
    let line1 = document.getElementById('line1');
    let line2 = document.getElementById('line2');
    let lineanimate = document.getElementById('lineanimate');
    function changeColor(color){
      bg.style.background = color;
      btn.style.background = color;
      txtbox.style.background = color;
      line1.style.background = color;
      line2.style.background = color;
    
      // mark as active selected color
      document.querySelectorAll('span').forEach(function(item){
        item.classList.remove('active');
      })
      event.target.classList.add('active');
    }

    //change line color
    function changeLine(lineColor){
      lineanimate.style.setProperty('--loginAfterColor', lineColor);
      lineanimate.style.setProperty('--loginBeforeColor', lineColor);
    }

  </script>

</section>
</body>

</html>