<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/join/:id" >
        <label for="fname">Name</label><br>
        <input type="text" id="fname" name="name"><br>
        <label for="lname">Contact Number</label><br>
        <input type="text" id="lname" name="contact">
        <input type="hidden" name="id" value="<%= courtId%> ">
        <input type="submit" value="Join" id="btn">
    </form> 
</body>
</html>