@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alexandria', sans-serif;
}

body{
  background: var(--white);
  min-height:100vh;
  --rainbow:linear-gradient(45deg,#4158D0, #4158D0 , #C850C0 , #FFCC70 , #fdffaf,#FFCC70,#C850C0,#4158D0,#4158D0);
}

:root
{
  --black:#222;
  --white:#fff;
}
.dark
{
  --black:#fff;
  --white:#222;
}

header
{
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
  padding: 40px 100px;
  z-index: 10000;
}

header .logo
{
  position: relative;
  display:inline-flex;
  color: var(--black);
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

header .logo:hover
{
  position: relative;
  display:inline-flex;
  background: var(--rainbow);
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  background-size: 500%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 20s linear infinite;
}

.rightSide
{
  display: flex;
  
}

.btns
{
  position: relative;
  width:40px;
  height:40px;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  margin-left:10px;
}

.btns ion-icon
{
  font-size: 1.5em;
  color:var(--black);
}

.btns.menuToggle ion-icon
{
  font-size:3em;
}

.btns ion-icon:nth-child(2)
{
  display:none;
}

.btns.active ion-icon:nth-child(2)
{
  display: block;
}

.btns.active ion-icon:nth-child(1)
{
  display: none;
}


.navigation
{
  position: absolute;
  top:0;
  left:-100%;
  width:100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--white);
  z-index:4;
  transition: 0.5s;
}

.navigation.active 
{
  left:0;
}

.navigation li
{
  list-style: none;
}

.navigation li a
{
  display: inline-flex;
  margin: 5px 0;
  font-size:1.35em;
  text-decoration: none;
  color: var(--black);
  padding:5px 20px;
  border-radius: 40px;
}

.navigation li a:hover
{
  background: var(--black);
  color: var(--white);
}

    /* Booking */
    .body
    {
      min-height: 100vh;
      display:flex;
      justify-content: center;
      align-items: top;
      background: var(--white);
    }

    .book-background
    {
      position: relative;
      border-radius:15px;
      margin-top:60px;
      --border-size: 0px;
      --border-angle: 0turn;
      width:1010px;
      height:210px;
      background:
                  conic-gradient(from var(--border-angle), #4158D0 , #C850C0 , #FFCC70 , #fdffaf,#FFCC70,#C850C0,#4158D0);
                background-size: calc(100% - (var(--border-size) * 2))
                    calc(100% - (var(--border-size) * 2)),
                  cover;
                background-position: center;
                background-repeat: no-repeat;
      
                animation: bg-spin 3s linear infinite;
    }
    .book-container
    { 
      position: absolute;
      inset:5px 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width:1000px;
      height:200px;
      background: #fff;
      box-shadow: 18px 18px 70px rgba(0,0,0,0.15);
      padding:20px;
      border-radius:15px;
    }

    .word
    {
      position:absolute;
      bottom:113%;
    }

    .title
    {
      font-size: 28px;
    }

    .bcolumn
    {
      position:relative;
      display: flex;
      flex-direction: column;
    }

    .brow
    {
      display:flex;
      flex-direction: row;
      gap:30px;
      justify-content: center;
      align-items: center;
      margin-left:3px;
      margin-right:3px;
    }

    .venue
    {
      
      display: flex;
      flex-direction: column;
      background: #fff;
    }

    .title:hover,
    .form-label:hover
    {
      background: var(--rainbow);
      background-size: 500%;
      animation: animate 20s linear infinite;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }
    
    .select
    {
      background-color:#e3e4e0;
      border:solid;
      border-width:1px;
      border-color:#e3e4e0;
      width:155px;
      height:40px;
      border-radius: 6px;
    }

    .select:hover
    {
      border:solid;
      border-width:1px;
      border-color:#e3e4e0;
      background: var(--rainbow);
      background-size: 500%;
      animation: animate 20s linear infinite;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }

    .form-control
    {
      background-color: #e3e4e0;
      border:solid;
      border-width:1px;
      border-color:#e3e4e0;
      border:none;
      width:155px;
      height:40px;
      border-radius: 6px;
    }

    .form-control:hover
    {
      border:solid;
      border-width:1px;
      border-color:#e3e4e0;
      background: var(--rainbow);
      background-size: 500%;
      animation: animate 20s linear infinite;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }

    .sport
    {
      display: flex;
      flex-direction: column;
      background: #fff;
    }


    .date
    {
      display: flex;
      flex-direction: column;
    }


    .time
    {
      display: flex;
      flex-direction: column;
    }


    .hour
    {
      display: flex;
      flex-direction: column;
    }

    .find
    {
      position: relative;
      display: flex;
      justify-content: right;
      align-items: right;
    }

    .find-btn
    {
      position: absolute;
      margin-top:1.5%;
      margin-right:0.5%;
      border:none;
      background: transparent;
      font-size:35px;
      cursor: pointer;
    }

    .find-btn:hover
    {
      background: var(--rainbow);
      background-size: 500%;
      animation: animate 20s linear infinite;
      -webkit-background-clip:text;
      -webkit-text-fill-color: transparent;
    }


    @media (max-width:768px)
    {
      header
      {
        padding:20px;
      }
    }

    @keyframes animate
    {
      0%
      {
        background-position: 0 ;
      }

      100%{
        background-position: 500%   ;
      }
    }

    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
    @property --border-angle {
      syntax: "<angle>";
      inherits: true;
      initial-value: 0turn;
    }
